.menu {
  width: 55%;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 10%;
}

hr { 
  display: block; 
  border: 0; 
  border-top: 1px solid #838383;  
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}

nav ul li a {
  font-size: 1.78vw;
  padding: 2.5% 0 2.5% 0;
  font-family: $font-stack;
  color: white;
  display: block;
  text-decoration: none;
  
  line-height: 150%;
  text-align: left;
}

nav ul ul .use_case2{
  padding-bottom: 3%;
}


nav ul .feat-show0.show {
  display: block;
}

nav ul .feat-show1.show {
  display: block;
}

nav ul .feat-show2.show {
  display: block;
}

nav ul .feat-show3.show {
  display: block;
}

nav ul .feat-show4.show {
  display: block;
}

nav ul .feat-show5.show {
  display: block;
}

nav ul .feat-show6.show {
  display: block;
}

nav ul .feat-show7.show {
  display: block;
}

nav ul ul{
  display: none;
}

.button {
  background-color: $background-color;
  border: 10%;
  border-color: #00e7ff;
  color: #00e7ff;
  padding: 5% 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 4% 0 2.5% 0;
  cursor: pointer;
}

nav ul ul .text_button {
  color: grey;
  padding-left: 15%;
  max-width: 60%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: 0.8vw;
  line-height: 220%;
  word-spacing: 0.25em;
  letter-spacing: 0.1em;
}

nav ul ul .use_case, .use_case2 {
  color: #00e7ff;
  padding-left: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  font-size: 0.8vw;
  line-height: 100%;  
  word-spacing: 0.25em;
}

//tablets
@media only screen and (min-width:450px) and (max-width:1024px) //1024px for tablets and phones.
{
  .menu {
    width: 90%;
    padding-top: 5%;
    padding-left: 0%;
    padding-bottom: 10%;
  }

  hr { 
    display: block; 
    border: 0; 
    border-top: 1px solid #838383;  
    margin-left: 0%;
  }

  nav ul li a {
    padding: 2.5% 0 2.5% 0;
    font-size: 4.1vw;
  }

  nav ul ul .text_button {
    font-size: 1.6vw;
    padding-left: 16%;
    max-width: 55%
  }

  .button {
    font-size: 2vw;  
    margin: 10% 0 5% 0;
  }

  nav ul ul .use_case, .use_case2 {
    font-size: 2vw;
    padding-left: 16%;
  }
}

//smartphones
@media only screen and (max-width:449px) //449px for smartphones
{
  .menu {
    width: 90%;
    padding-top: 5%;
    padding-left: 0%;
    padding-bottom: 10%;
  }

  hr { 
    display: block; 
    border: 0; 
    border-top: 1px solid #838383;  
    margin-left: 0%;
  }

  nav ul li a {
    padding: 2.5% 0 2.5% 0;
    font-size: 7vw;
    hyphens: auto;
    word-break: break-all;
  }

  nav ul ul .text_button {
    font-size: 3vw;
    padding-left: 16%;
    max-width: 80%
  }

  .button {
    padding: 6% 38%;
    font-size: 4vw; 
    margin: 10% 0 5% 0; 
  }

  nav ul ul .use_case, .use_case2 {
    font-size: 4vw;
    padding-left: 16%;
  }
}