#title {
    border: 1px solid green;
    width: 75%;
    height: 50%;
    text-align: left;
    float: right;
    font-size: 105%;
}

header {
    position: relative;
}

h1 {
    font-family: $font-stack;
    color: white;
    font-size: 10vw;
}