$background-color: #212020;
$font-stack: Arial, Helvetica, sans-serif;

@import './title';

body{
  background-color: $background-color;
  height:99.5%;
}

.viewport {
    border: 3px solid #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.float-child {
    position: relative;
    width: 49.75%;
    height: 99.5%;
    float: left;
    border: 2px solid red;

}

#description {
  border: 1px solid green;
  width: 75%;
  height: 49.75%;
  text-align: left;
  float: right;
  font-size: 105%;
  line-height: 200%;
  word-spacing: 120%;
}

p {
  color: grey;
  margin-bottom: 0%;
  margin-top:0%;
}

#menu {
  border: 1px solid green;
}