$background-color: #212020;
$font-stack: "Bahnschrift", sans-serif;

@import './title';
@import './menu';

body{
  background-color: $background-color;
  height:99.5%;
}

.viewport {
    border: 3px solid #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.float-child {
    position: relative;
    width: 49.75%;
    height: 99.5%;
    float: left;
    border: 2px solid red;
}