$background-color: #212020;
$font-stack: "Bahnschrift", sans-serif;

@import './title';
@import './menu';

body{
  background-color: $background-color;
  height:101%;
}

.viewport {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.float-child {
    position: relative;
    width: 50%;
    height: 101%;
    float: left;
    display: inline-block;
}

//tablets
@media only screen and (min-width:450px) and (max-width:1024px) //1024px for tablets and phones.
{
  .float-child {
    position: relative;
    width: 70%;
    height: 0%;
    float: none;
    padding-left: 20%;
  }
}

//smartphones
@media only screen and (max-width:449px) //449px for smartphones
{
  .float-child {
    position: relative;
    width: 85%;
    height: 0%;
    float: none;
    padding-left: 10%;
  }
}